﻿@{
    ViewBag.Title = "Home Page";
}


<table class="table">
    <thead>
    <tr><th>Name</th><th></th></tr>
    </thead>
    <tbody id="products">
    </tbody>
</table>
<div class="form-group">
    <label>District</label>
    <select class="form-control" id="district">
    </select>
</div>
<div class="form-group">
    <label>Phone</label>
    <input class="form-control" id="phone" />
</div>
<button class="btn btn-success" id="create_order">Create</button>

<script type="text/javascript">
   
    $(function () {
        $('#create_order').click(e => {

            var district = $('#district');
            var ids = $('.form-check-input').get().filter(x => x.checked).map(x => x.id);
            var order = {
                DistrictId: $('#district')[0].value,
                Phone: $('#phone')[0].value,
                SelectedProducts: ids
            };
            $.ajax({
                type: 'POST',
                url: '/home/Create',
                data: JSON.stringify(order),
                contentType: 'application/json',
                success: () => {
                        alert("Order Created.");
                    }
                });

        });
        
        $.getJSON("http://localhost:16212/api/products",
            function (data) {
                $('#products').empty();

                $.each(data, function (key, val) {

                    var row = '<div class="form-check">' +
                        '<input type="checkbox" class="form-check-input" id="' + val.Id + '">' +
                        '<label class="form-check-label" for="exampleCheck1">' + val.Name + '</label>' +
                    '</div>';
                    $('<tr/>', { html: row })
                        .appendTo($('#products'));
                });
            });

        $.getJSON("http://localhost:16212/api/districts",
            function (arr) {
                 
                var sel = $('#district');
                $(arr).each(function() {
                    sel.append($("<option>").attr('value', this.Id).text(this.Name));
                });
            });
        

        
    });
</script>