﻿@{
    ViewBag.Title = "Manage Orders";
}

<form id="auth_form">
    <div class="form-group">
        <label>User name</label>
        <input required class="form-control" id="user_name">
    </div>
    <div class="form-group">
        <label>District</label>
        <select required class="form-control" id="district"></select>
    </div>
    <button type="submit" class="btn btn-success">Connect</button>
</form>

<h2>NewOrders</h2>
<div class="row" id="new-orders">

</div>

<h2>Orders</h2>
<div class="row" id="orders">



</div>
<script type="text/javascript">
    var orderHub = null;

    function changeOrder(orderId) {
        orderHub.server.update(orderId).then(() => {
            var order = $('#oder-' + orderId);
            order[0].removeChild(order[0].children[1]);
            $('#orders').append('<div id="oder-' + orderId + '" class="col-lg-6">' + order[0].innerHTML + '</div>');
            order.remove();
        });
    }

    $(function () {

        $('#auth_form').submit(function(ev) {
            ev.preventDefault();

            var userName = $('#user_name')[0].value;
            var district = $('#district')[0].value;
            $("#auth_form input, select, button").prop("disabled", true);

            $.getJSON("/api/orders?userName=" + userName + "&district=" + district,
                function (arr) {

                    var sel = $('#new-orders');
                    $(arr.NewOrders).each(function () {
                        sel.append('<div id="oder-' + this.Id + '" class="col-lg-6">'+
                                '<p>' + this.Phone + '</p>' +
                                '<button class="btn btn-default" onclick="changeOrder(' + this.Id +')">Subscribe</button>' +
                            '</div>');
                    });

                    sel = $('#orders');
                    $(arr.Orders).each(function () {
                        sel.append('<div id="oder-' + this.Id + '" class="col-lg-6">'+
                            '<div class="col-lg-6">' +
                            '<p>' + this.Phone + '</p>' +
                            '</div>');
                    });
                });

            $.connection.hub.qs = 'district=' + district + '&userName=' + userName;
            $.connection.hub.url = 'http://localhost:16212/signalr';
            orderHub = $.connection.orderHub;

            orderHub.client.created = function (order) {
                $('#new-orders').append('<div id="oder-' +
                    order.Id + '" class="col-lg-6">' + '<p>' +
                    order.Phone + '</p>' +
                    '<button class="btn btn-default" onclick="changeOrder(' +
                    order.Id + ')">Subscribe</button></div>');

                $('#orders').append('<div class="col-lg-6">' +
                        '<p>' + this.Phone + '</p>' +
                    '</div>');
            };

            orderHub.client.removed = function (orderId) {
                var order = $('#oder-' + orderId);
                order.remove();
            };

            $.connection.hub.start({ jsonp: true }).done(function () {
                console.log("SignalR: connected.");
            });
        });

        $.getJSON("/api/districts",
            function (arr) {

                var sel = $('#district');
                $(arr).each(function () {
                    sel.append($("<option>").attr('value', this.Id).text(this.Name));
                });
            });
    });
</script>